@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-10 text-center">
        <h1><a href="/">Chefs</a> | Dishes</h1>
    </div>
    <div class="col-md-2">
        <a href="/dishes/new">Add a Dish</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Yum, take a look at our tasty dishes!<hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </thead>
            <tbody>           
                @foreach(Dish elem in @Model) {
                    @:<tr><td>
                    @elem.Name
                    @:</td><td>
                    @elem.Chef.FirstName
                    @elem.Chef.LastName
                    @:</td><td>
                    @elem.Tastiness 
                    @:</td><td>
                    @elem.Calories
                    @:</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>